<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>五彩棒棒糖</key>
	<array>
		<dict>
			<key>name</key>
			<string>闫卫敏</string>
			<key>head_image</key>
			<string>head_03.jpg</string>
			<key>phoneNum</key>
			<string>18861244355</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>18</string>
			<key>hobby</key>
			<string>吃、睡、玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王雪娟</string>
			<key>head_image</key>
			<string>head_08.jpg</string>
			<key>phoneNum</key>
			<string>18860233296</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>吃饭、睡觉、看电视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭飞飞</string>
			<key>head_image</key>
			<string>head_04.jpg</string>
			<key>phoneNum</key>
			<string>18860323312</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>看书</string>
		</dict>
		<dict>
			<key>name</key>
			<string>秦俊珍</string>
			<key>head_image</key>
			<string>head_13.jpg</string>
			<key>phoneNum</key>
			<string>18860322342</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>旅游</string>
		</dict>
		<dict>
			<key>name</key>
			<string>湛孝超</string>
			<key>head_image</key>
			<string>head_18.jpg</string>
			<key>phoneNum</key>
			<string>18923214621</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>吃喝玩乐</string>
		</dict>
	</array>
	<key>才子佳人</key>
	<array>
		<dict>
			<key>name</key>
			<string>范芳芳</string>
			<key>head_image</key>
			<string>head_16.jpg</string>
			<key>phoneNum</key>
			<string>18923214623</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>看书</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘海艳</string>
			<key>head_image</key>
			<string>head_01.jpg</string>
			<key>phoneNum</key>
			<string>18923212464</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>16</string>
			<key>hobby</key>
			<string>看书</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张衡</string>
			<key>head_image</key>
			<string>head_18.jpg</string>
			<key>phoneNum</key>
			<string>18823431211</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>看电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李书明</string>
			<key>head_image</key>
			<string>head_10.jpg</string>
			<key>phoneNum</key>
			<string>18823435421</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>玩游戏</string>
		</dict>
	</array>
	<key>风信子</key>
	<array>
		<dict>
			<key>name</key>
			<string>张莉</string>
			<key>head_image</key>
			<string>head_14.jpg</string>
			<key>phoneNum</key>
			<string>18923223131</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>15</string>
			<key>hobby</key>
			<string>看纪录片</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王妍</string>
			<key>head_image</key>
			<string>head_06.jpg</string>
			<key>phoneNum</key>
			<string>18923223131</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>睡觉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肖楠</string>
			<key>head_image</key>
			<string>head_19.jpg</string>
			<key>phoneNum</key>
			<string>18912433131</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>打游戏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王晓奇</string>
			<key>head_image</key>
			<string>head_18.jpg</string>
			<key>phoneNum</key>
			<string>18623742372</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>打游戏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>聂欣欣</string>
			<key>head_image</key>
			<string>head_19.jpg</string>
			<key>phoneNum</key>
			<string>1862374212</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>打游戏</string>
		</dict>
	</array>
	<key>恐怖组织</key>
	<array>
		<dict>
			<key>name</key>
			<string>李志鹏</string>
			<key>head_image</key>
			<string>head_20.jpg</string>
			<key>phoneNum</key>
			<string>1882342453</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>玩游戏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>乔自朋</string>
			<key>head_image</key>
			<string>head_07.jpg</string>
			<key>phoneNum</key>
			<string>1882342453</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>吃货、看书、旅游</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张鹏飞</string>
			<key>head_image</key>
			<string>head_15.jpg</string>
			<key>phoneNum</key>
			<string>1862322323</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>英雄联盟</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵佳慧</string>
			<key>head_image</key>
			<string>head_11.jpg</string>
			<key>phoneNum</key>
			<string>17091615503</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>旅游</string>
		</dict>
	</array>
	<key>娘娘驾到</key>
	<array>
		<dict>
			<key>name</key>
			<string>韩苇琪</string>
			<key>head_image</key>
			<string>head_02.jpg</string>
			<key>phoneNum</key>
			<string>18623785689</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>听歌</string>
		</dict>
		<dict>
			<key>name</key>
			<string>练晓俊</string>
			<key>head_image</key>
			<string>head_02.jpg</string>
			<key>phoneNum</key>
			<string>18623785689</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>听歌</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭亚茹</string>
			<key>head_image</key>
			<string>head_08.jpg</string>
			<key>phoneNum</key>
			<string>1862322323</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>英雄联盟</string>
		</dict>
		<dict>
			<key>name</key>
			<string>马娟娟</string>
			<key>head_image</key>
			<string>head_16.jpg</string>
			<key>phoneNum</key>
			<string>17091615503</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>旅游</string>
		</dict>
	</array>
</dict>
</plist>
